<%- include('layouts/header.ejs')%>
<%- include('layouts/sidebar.ejs')%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>General Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">subcategory</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <!-- FORM FOR ADDING A DATA  ******* -->
              <form action="/subcategory/add   " method="post">
                <input type="hidden" name="subcatid" value="<%= (editsubcat)?editsubcat._id:'' %>">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category Name</label>
                    <select name="category" id="category" name="category">
                      <option value="">--category--</option>
                      <option value="">ronak</option>
                      <option value="">vivek</option>
                      <option value="">jay</option>
                      <option value="">ajay</option>
                      <option value="">vijay</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Subcategory Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter subcategory" name="name" value="<%= (editsubcat)?editsubcat.name:''%>">
                  </div>
                  
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">subcategory List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Category</th>
                      <th>Subcategory</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% alldata.map((i) => { %>
                    <tr>
                        <td><%= i._id %></td>
                        <td><%= i.category %></td>
                        <td><%= i.name %></td>
                        <td>
                          <button class="btn btn-primary" href="/edit/<%= i._id %>">Edit</button>
                          <button class="btn btn-danger" href="/del/<%= i._id %>">Delete</button>
                        </td>
                    </tr>
                   <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
            
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<%- include('layouts/footer.ejs')%>

